.metals/
.idea/
javascript/.idea/
scala/.idea/
scala/.bloop/
scala/.bsp/
scala/.metals/
scala/.scala-build/
scala/.vscode/
scala/project/
scala/target/
.bsp/
.scala-build
scala/build.sbt
.scalafmt.conf
